# top-most EditorConfig file
root = true

# ————————————————
# Default settings for all files
# ————————————————
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# ————————————————
# ReStructuredText / Markdown docs
# ————————————————
[*.{rst,md}]
max_line_length = 88
trim_trailing_whitespace = false

# ————————————————
# JSON / YAML / TOML configs
# ————————————————
[*.{json,yaml,yml,toml}]
indent_size = 2

# ————————————————
# Makefile
# ————————————————
[Makefile]
indent_style = tab

# ————————————————
# Shell-scripts
# ————————————————
[*.sh]
end_of_line = lf
